.question-container{
	padding:20px 0px;
}

#decide{
	margin:20px 0px;
}

.errorcol{
	color:red;
}

.errorbg{
	background-color:pink;
}

body{
	text-align:center;
}

header{
	background-color:rgba(0,0,255,0.8);
	color:white;
}

.imp{
 	width:60%;
}

.modal{
	position:absolute;
	width:50%;
	height:200px;
 	border:solid 1px black;
 	margin:auto;
	top:0;
	left:0;
	right:0;
	bottom:0;
	z-index:100;
	background-color:white;
  	display:none;
}

#bg{
	position:fixed;
	top:0;
	left:0;
	height:100%;
	width:100%;
	background:rgba(0,0,0,0.4);	
}

input{
	font-size:16px;
}

label{
	font-size:16px;
}

