.question-container{
	padding:20px 0px;
}

#decide{
	margin:20px 0px;
}

.errorcol{
	color:red;
}

.errorbg{
	background-color:pink;
}

body{
	text-align:center;
}

header{
	background-color:rgba(0,0,255,0.8);
	color:white;
}

.imp{
 	width:60%;
	height:50px;
}
